# Untracked working directories
modules_out
nethunter
out
output
toolchain_archs

# Local artifacts
.zip
kernel

anykernel3/modules


# Untracked files:
anykernel3/Image*
anykernel3/*dtb*
anykernel3/Changelog.txt
